{% extends 'layouts/base.html' %}

{% load staticfiles %}

{% block stylesheet %} {% endblock %}

{% block content %}
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Book</th>
            <th>Author</th>
            <th>Created</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for bk in books_list %}
            <tr>
                <td>{{ bk.title }}</td>
                <td>{{ bk.author }}</td>
                <td>{{ bk.date_created }}</td>
                <td>
                    <a class="btn btn-warning" style="color: white;" href="{% url 'book_view' bk.id %}">View</a>
                    <a class="btn btn-danger" style="color: white;" href="{% url 'book_delete' bk.id %}">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-info" href="{% url 'book_create' %}">Create Books</a>
{% endblock %}

{% block javascripts %} {% endblock %}