{% extends 'layouts/base.html' %}

{% load staticfiles %}


{% block stylesheet %} {% endblock %}

{% block content %}
    <!-- Begin page content -->
    <main role="main" class="container">
        <h1 class="mt-5">Home</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem error eveniet nulla obcaecati quas quia
            sit? Commodi cumque explicabo hic odit quaerat quis! Assumenda at aut cupiditate dicta dignissimos ducimus
            facere impedit ipsa laboriosam, odit perferendis, reiciendis rerum sed sunt suscipit temporibus, ullam unde.
            xAb architecto beatae deserunt dolorum ex explicabo hic, ipsam, itaque laudantium minima molestiae mollitia
            necessitatibus nihil non odio odit optio quia quibusdam rem saepe sed sequi sit, tempora ullam ut vel
            voluptate! Aut consequatur fugiat harum iste molestiae nemo obcaecati reiciendis sint veniam. Amet aperiam,
            architecto consequuntur dicta doloremque ea eaque eius et facilis harum labore maxime molestiae nemo nisi
            non sequi soluta vitae. Dolor doloremque enim, et laboriosam nostrum sequi voluptatum. Animi atque deserunt
            eius esse est expedita facere fugit harum illum impedit ipsa laudantium libero molestiae molestias nihil
            pariatur perspiciatis, quae quam quibusdam quis quisquam quod repellat repellendus, sed tempore temporibus
            ut voluptas voluptatem.</p>
    </main>
{% endblock %}

{% block javascripts %} {% endblock %}